@model LibsRUs.Models.LibTag

@{
    ViewBag.Title = (Model.TagText + " Libs");
}

<h2>@Model.TagText Libs</h2>
<h4>@Model.Description</h4>

<p>
    @Html.ActionLink("Back to Tags", "Index")
</p>

<div>
    <hr />
    <table class="libsTable table">
        <thead>
            <tr>
                <th class="nameCell">Name</th>
                <th class="descriptionCell">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Libs)
            {
                <tr>
                    <td class="nameCell">
                        @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                    </td>
                    <td class="descriptionCell">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

