@model LibsRUs.Models.Lib
@using LibsRUs.Models

@{
    ViewBag.Title = @Model.Name;
}

<div style="height:65px;">
    <div class="float-left">
        <h2>@Model.Name</h2>
    </div>
    <div class="float-left" style="height:100%;margin-left:20px;">
        @Html.ActionLink("Edit", "Edit", new { id = @Model.ID }, new { style = "position:relative;top:50%;transform:translateY(-50%);" })
    </div>
</div>
<div style="clear:both;">
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.LibURL)</dt>
        <dd>
            <a href="@Model.LibURL" target="_blank">@Model.LibURL</a>
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        @{
            foreach (var libType in Model.LibTags.GroupBy(x => x.LibTagType).ToDictionary(group => group.Key, group => group.ToList()))
            {
                <dt>@libType.Key.Name</dt>
                <dd>
                    @{
                        foreach (LibTag tag in libType.Value)
                        {
                            <span>@{Html.RenderPartial("_LibTag", tag);}</span>
                        }
                    }
                </dd>
            }
        }
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
