@model IEnumerable<LibsRUs.Models.Lib>
@using LibsRUs.Models
@using LibsRUs.ViewModels

@{
    ViewBag.Title = "Libs-R-Us";
}
<div class="libs">
    <div class="leftNav">
        @{
            foreach (LibTagTypeSideBarViewModel libType in ViewBag.LibTagTypes)
            {
                <h4>@libType.PluralName</h4>

                <div>
                    @{
                        foreach (LibTag tag in libType.LibTags)
                        {
                            <div>@Html.ActionLink(tag.TagText, "Details", "LibTags", new { ID = tag.ID }, null)</div>
                        }

                        if (libType.HasMoreLibTags)
                        {
                            <div>@Html.ActionLink("more...", "Details", "LibTagTypes", new { ID = libType.ID }, null)</div>
                        }
                    }
                </div>
            }
        }
    </div>
    <div class="rightContentContainer">
        <div class="rightContent">
            <div style="margin-bottom:10px;">
                <div style="display:inline-block;">
                    <input type="text" id="txtSearch" placeholder="Search..." style="width:500px;max-width:500px;" />
                </div>
                <div style="display:inline-block;">
                    <i class="fa fa-plus"></i>
                    @Html.ActionLink("Add New Library", "Create")
                </div>
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div class="lib">
                        <div class="icon">
                            <i class="fa fa-file-code-o fa-5x"></i>
                        </div>
                        <div class="info">
                            <div class="name">@Html.ActionLink(item.Name, "Details", new { id = item.ID })</div>
                            <div class="description">@Html.DisplayFor(modelItem => item.Description)</div>
                            <div class="tags">
                                @foreach (LibTag libTag in item.LibTags)
                                {
                                    Html.RenderPartial("_LibTag", libTag);
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            @*<table class="libsTable table">
                <thead>
                    <tr>
                        <th class="nameCell">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="descriptionCell">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="nameCell">
                                @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                            </td>
                            <td class="descriptionCell">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
        </div>
    </div>
</div>