@model IEnumerable<LibsRUs.Models.Lib>
@using LibsRUs.Models

@{
    ViewBag.Title = "Libs-R-Us";
}
<div class="libs">
    <div class="leftNav">
        <div>
            <h4>Programming Languages</h4>
            <div>
                @{
                    foreach (ProgrammingLanguage language in ViewBag.ProgrammingLanguages)
                    {
                        <div>@Html.ActionLink(language.Name, "Details", "ProgrammingLanguages", new { ID = language.ID }, null)</div>
                    }
                }
            </div>
        </div>
        <div>
            <h4>Platforms</h4>
            <div>
                @{
                    foreach (Platform platform in ViewBag.Platforms)
                    {
                        <div>@Html.ActionLink(platform.Name, "Details", "Platforms", new { ID = platform.ID }, null)</div>
                    }
                }
            </div>
        </div>
        <div>
            <h4>Tags</h4>
            <div>
                @{
                    foreach (LibTag tag in ViewBag.LibTags)
                    {
                        <div>@Html.ActionLink(tag.TagText, "Details", "LibTags", new { ID = tag.ID }, null)</div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="rightContentContainer">
        <div class="rightContent">
            <table class="libsTable table">
                <thead>
                    <tr>
                        <th class="nameCell">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="descriptionCell">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="nameCell">
                                @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                            </td>
                            <td class="descriptionCell">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>