@model IEnumerable<LibsRUs.Models.Lib>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width:400px;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new {id = item.ID})
        </td>
        <td>
            <div style="width:400px;" class="ellipsis">@Html.DisplayFor(modelItem => item.Description)</div>
        </td>
    </tr>
}

</table>
